/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  nav {
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 3px;
  }
  
  nav ul li a:hover {
    background-color: #333;
    color: #fff;
  }
  
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  h2 {
    margin-top: 0;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .hide {
    display: none;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Media Query for Responsive Layout */
  @media (max-width: 600px) {
    header {
      font-size: 18px;
    }
    
    main {
      margin: 10px;
    }
  }
  